{% extends 'base.html' %}

{% block content %}
    <h1>Привет, мир!</h1>
    <p>Это пример HTML-документа</p>
    <p>{{ word1 }} {{ word2 }} {{ word3 }}</p>
    <p>_________________________________________________</p>
    <ul>
        {% for el in lst %}
            <li>{{ el }}</li>
        {% empty %}
            <li>Список пуст</li>
        {% endfor %}
    </ul>
    <p>_________________________________________________</p>
    {% if info %}
        <p>{{ info }}</p>
    {% else %}
        <p>Информации нет</p>
    {% endif %}
{% endblock %}